---
// Página que redirige a index con parámetro nombre=mau
---

<script>
  // Redirección inmediata en el cliente
  window.location.replace("/?nombre=mau");
</script>

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/?nombre=mau" />
    <title>Redirigiendo...</title>
  </head>
  <body>
    <p>Redirigiendo...</p>
  </body>
</html>
